---
- name: Install ansible dependencies
  hosts: all
  tasks:

  - name: Check for presence of python-apt
    shell: apt-cache show python-apt
    register: pythonapt
    changed_when: false
    failed_when: false

  - name: Install python-apt so Ansible can use it
    shell: apt-get install python-apt -y
    args:
      warn: no
    when: pythonapt.rc == 1
    become: true
    become_method: sudo
    become_user: root

  - name: Install python3
    package:
      name:
        - python3
      state: present
    become: true
    become_method: sudo
    become_user: root

  - name: Install ansible python3 dependencies
    apt:
      pkg:
        - python3-setuptools
        - python3-pip
        - python3-dev
      state: present
    become: true
    become_method: sudo
    become_user: root